importCfg cfg/analysis_mc.cfg

<Input>
inputFiles ntuples/ntuple_WToJPsiDsToMuMuKKPiRes_PU.root
</Input>

<Output>
outputFileName plots/plots_KKPiRes_PU
</Output>

<Weights>
lumi 35826.680   # in /pb
nevt 20000       # number of events in the sample
xsec 0.0195      # in /pb
                 # sigma(W > lv) = 20.08 /nb (from CERN-EP-2016-069)   BR(W > lv) = 0.1080 (from PDG)   -->   sigma(W) = 185.93 /nb
                 # BR(W > cs) = 0.31 (from PDG)   BR(W > JPsi cs) / BR(W > cs) = 3E-04 (from paper)     -->   sigma(W > JPsi cs) = 185.93 x 0.31 x 3E-04 = 17.29 /pb
                 # BR(cs > Ds) ~= 0.20 (from paper)                                                     -->   sigma(W > JPsi Ds) = 3.458 /pb
                 # BR(JPsi > mu mu) = 0.06   and   BR(Ds > phi pi+ / antiK0* K+ / f0 pi+) = 0.094       -->   sigma(W > mu mu K K pi) = 0.0114 /pb = 11.4 /fb
</Weights>
